<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Mar 4</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>9:00</td> <td> <a href="https://datacarpentry.org/shell-genomics/01-introduction/index.html">Introducing the shell</a></td></tr>
      <tr><td>9:15</td><td><a href="https://datacarpentry.org/shell-genomics/02-the-filesystem/index.html">Navigating Files and Directories</a></td></tr>
      <tr><td>10:30</td><td>Break</td></tr>
      <tr><td>10:45</td><td><a href="https://datacarpentry.org/shell-genomics/03-working-with-files/index.html">Working with Files and Directories</a></td></tr>
      <tr><td>12:00</td><td>Lunch</td></tr>
      <tr><td>13:00</td><td><a href="https://datacarpentry.org/shell-genomics/04-redirection/index.html">Redirection</a></td></tr>
      <tr><td>14:30</td><td>Break</td></tr>
      <tr><td>14:45</td><td><a href="https://datacarpentry.org/shell-genomics/05-writing-scripts/index.html">Writing Scripts</a></td></tr>
      <tr><td>15:40</td><td><a href="https://datacarpentry.org/shell-genomics/06-organization/index.html">Project Organization</a></td></tr>
      <tr><td>15:50</td><td><a>Wrap-up</a></td></tr>
      <tr><td>16:00</td><td>END</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: Mar 5</h3>
    <table class="table table-striped">
      <tr> <td>9:00</td> <td><a href="https://datacarpentry.org/R-genomics/00-before-we-start.html">Before we start</a></td></tr>
      <tr><td>9:10</td><td><a href="https://datacarpentry.org/R-genomics/01-intro-to-R.html">Intro to R</a></td></tr>
      <tr><td>10:30</td><td>Break</td></tr>
      <tr><td>10:45</td><td><a href="https://datacarpentry.org/R-genomics/02-starting-with-data.html">Starting with Data</a></td></tr>
      <tr><td>12:00</td><td>Lunch</td></tr>
      <tr><td>13:00</td><td><a href="https://datacarpentry.org/R-genomics/03-data-frames.html">Data frames</a></td></tr>
      <tr><td>13:30</td><td><a href="https://datacarpentry.org/R-genomics/04-dplyr.html">Data manipulation with dplyr</a></td></tr>
      <tr><td>14:30</td><td>Break</td></tr>
      <tr><td>14:45</td><td><a href="https://datacarpentry.org/R-genomics/05-data-visualization">Data visualization</a></td></tr>    
      <tr>
	<td>15:50</td>
	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr><td>16:00</td><td>END</td></tr>  
      <tr>
      </tr>
    </table>
  </div>
</div>
